<ng-container *ngIf="data$ | async as links" >
    <div *ngIf="links.isLoading" data-testid="loading">
        <h3>LOADING...</h3>
    </div>
    <div class="container" data-testId = "links">
        <div class="library">
            <a [routerLink]="['/home']" routerLinkActive="active" class="library">Chercher</a>
        </div>
        <div *ngFor="let link of links.links" class="linksWrapper">
            <a 
            class="library" 
            [routerLink]="['/bookslib', link.libraryId]" 
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            queryParamsHandling="merge"
            >
                {{link.libraryName}}
            </a>
        </div>
        <div>
            <button (click)="toggleCreate()">Creer une bibliothèque</button>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="creatingLib">
    <div  class="form-container">
        <h1>Créer votre bibliothèque</h1>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <fieldset>
                <input type="text" placeholder="Le nom de votre bibliothèque" formControlName="name">
            </fieldset>
            <button type="submit">Créer</button>
        </form>
    </div>

</ng-container>