<div class="container">
    <h1>S'identifier</h1>
    <div *ngIf="data$|async as data">
        <p class="error">{{data.errors?.access_denied_reason}}</p>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <fieldset>
            <input type="email" placeholder="Email" formControlName="email">
        </fieldset>
        <fieldset>
            <input type="password" placeholder="Password" formControlName="password">
        </fieldset>
        <button type="submit">S'identifier</button>
    </form>
</div>