<ng-container *ngIf="data$ | async as data" >
    <div class="container" data-testId = "currentUser">
        <div class="logo">
            <a routerLink="/">Blog de Livres ...</a>
        </div>
        <ng-container *ngIf="data.currentUser"  data-testId = "user">
            <div class="user-login-wrapper">
                <div >
                    <p [routerLink]="['/user', data.currentUser.username]">{{data.currentUser.username}}</p>
                </div>
            
                <img [src]="data.currentUser.photo === null ? 'assets/user-icon.png' : data.currentUser.photo" alt="">
                
                <button (click)="logOut()" class="log-out-button">Log Out</button>
            </div>
        </ng-container>

        <ng-container *ngIf="!data.currentUser">  
            <div class="button-wrapper" data-testId = "buttons">
                <a routerLink="/login">Log In</a>
                <a routerLink="/register">Register</a>
            </div>
        </ng-container>
    </div>
    
</ng-container>