
<ng-container *ngIf="data$|async as data" class="container">
    <div *ngIf="data.isLoading">
        <h1>
            LOADING
        </h1>
    </div>
    <div class="library-container">
        <div *ngIf="data.books?.length == 0">
            <h1>Votre bibliothèque est vide ...</h1>
            <h2>Vous pouvez ajouter un livre !</h2>
        </div>
        <div *ngFor="let item of data.books"  class="book">
            <div class="card-container"[routerLink]="['/bookblog',item.googleId]">
                <div class="card">
                    <div class="front">
                        <img [src]="item.imageLinks" alt="">
                    </div>
                    <div class="theback">
                        <p>{{item.description}}</p>
                        
                    </div>
                </div>
            </div>
            <div class="controls">
                <div (click)="deleteBook(item.googleId)" class="button">Effacer</div>
                <div class="info" [routerLink]="['/bookblog',item.googleId]">x</div>
            </div>
        </div>
    </div>
</ng-container>