.container{
    padding: 50px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
form{
    width: 25%;
    display: flex;
    justify-content: center;
    gap: 15px;

    fieldset{
        border-radius: 5px;
        padding: 10px 35px;
        input{
            padding: 10px 25px;
            border-color: transparent;
            width: 80%;
        }
        input:focus{
            outline: none;
            border-color: greenyellow;
            transition-duration: 250ms;
        }
    }
    fieldset.correct-border{
        border-right: 5px solid greenyellow;
        transition-duration: 250ms;
    }
}
button{
    padding: 10px 25px;
    border-radius: 5px;
}
.table-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    padding: 20px;
    tr:first-of-type {
        height: 40px;
        border-bottom: 1px solid gainsboro
      }

      th {
        text-align: start;
        padding: 0 30px;
      }
      td {
        padding: 10px 30px;
        font-size: 14px;
        a {
          text-align: center;
          padding: 8px 15px;
          border-radius: 16px;
          border: 1px solid gainsboro;
          background-color: hsl(84, 64%, 85%)#000;
        }
        a:hover{
            border: 1px solid greenyellow;
            background-color: black;
        }
      }
}


img{
    height: 40px;
}

input{
    outline: none;
}

a{
    text-decoration: none;
    color: black;
}

button:hover{

    background-color: darkgrey;
    color: greenyellow;
    transition-duration: 250ms;
}
a:hover{
    color: greenyellow;
    transition-duration: 250ms;
}

#recherche{
    padding: 10px 25px;
}