<div class="container">
    
    <form [formGroup]="form">
        <fieldset>
            <input type="text" id="recherche" formControlName="recherche" placeholder="Cherchez un livre..." >
        </fieldset>
    </form>
    <ng-container  *ngIf="data$|async as data">
        <h1 *ngIf="data.isLoading">LOADING</h1>
        <div *ngIf="data.books" class="table-container">
            <table>
                <tr>
                    <th>TITLE</th>
                    <th>Auteur</th>
                    <th>Couverture</th>
                    <th></th>
                </tr>
                <tr *ngFor="let livre of data.books.items">
                    <td> {{livre.volumeInfo.title}} </td>
                    <td> {{livre.volumeInfo.authors ?? 'Non connu' }} </td>
                    <td>
                        <img [src]="livre.volumeInfo.imageLinks?.thumbnail" alt="">
                    </td>
                    <td>
                        <a [routerLink]="['/bookInfo',livre.id]">INFO</a>
                    </td>
                </tr>
            </table>
        </div>
    </ng-container>
    
    
</div>